$top-selling-products-bg: #d5cabd;

.main-flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
div.MainPage {
  overflow-y: auto;
  height: 100%;
  background-color: red;
}
.homePage-div {
  width: 100%;
  overflow-y: auto;
  background-color: #85562122;
}
div.DashboardOv {
  gap: 50px;

  width: 100%;
  border-radius: 30px;
  margin: 10px auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
h1 {
  font-weight: bold;
  margin: 1em auto;
  width: 100%;
  text-align: center;
}
h2 {
  margin: 1em 0;
  left: 0;
}
.latest-selling-products {
  gap: 50px;
  width: 100%;
  border-radius: 30px;
  margin: 10px auto;
  padding: 0 50px;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.latest-selling-products-table {
  border-radius: 20px;
  background-color: $top-selling-products-bg;
  display: flex;
  width: 100%;
  margin: 10px auto;
  padding: 15px 50px;
  align-items: center;
}
