$top-selling-products-bg: #d5cabd;

.main-flex {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100%;
}
div.MainPage {
  overflow-y: auto;
  height: 100%;
  background-color: red;
}
.homePage-div {
  width: 100%;
  overflow-y: auto;
  background-color: #85562122;
}
div.DashboardOv {
  gap: 50px;

  width: 100%;
  border-radius: 30px;
  margin: 10px auto;
  padding: 0 50px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
h1 {
  font-weight: bold;
  margin: 1em auto;
  width: 100%;
  text-align: center;
}
h2 {
  margin: 1em 0;
  left: 0;
}
.latest-selling-products {
  gap: 50px;
  width: 100%;
  border-radius: 30px;
  margin: 10px auto;
  padding: 0 50px;
  display: flex;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  align-items: center;
}
.latest-selling-products-table {
  border-radius: 20px;
  background-color: $top-selling-products-bg;
  display: flex;
  width: 100%;
  margin: 10px auto;
  padding: 15px 50px;
  align-items: center;
}

////////Spinner
#loader {
  font-weight: bold;
}
#loader span {
  display: inline-block;
  background: #000;
  width: 5px;
  height: 50px;
  border-radius: 5px;
  animation: load 2s ease infinite;
}

#loader span:nth-child(2) {
  animation-delay: 100ms;
}
#loader span:nth-child(3) {
  animation-delay: 200ms;
}
#loader span:nth-child(4) {
  animation-delay: 300ms;
}
#loader span:nth-child(5) {
  animation-delay: 400ms;
}
#loader span:nth-child(6) {
  animation-delay: 500ms;
}

@keyframes load {
  50% {
    height: 10px;
    margin-top: 40px;
    opacity: 0.1;
  }
}
